
<%= form.fields_for :questions do |question_form| %>
  <tr>
  <div class="field">
    <td><%= question_form.text_field :body %></td>
    <td><%= question_form.check_box :_destroy %></td>
  </div>
  </tr>
  <tr><td><%= link_to "Manage Options", manage_choices_path(@poll.edit_key,@poll.id ) %></td><td></td></tr>
<% end %>

