<h1>Polls</h1>
<p>Here are all the polls:</p>
  <p><% @polls.each do |poll| %></p>
    <p><%= poll.name %> |
    <%= link_to "Edit Poll", poll_edit_path(poll.edit_key) %> |
    <%= link_to "Share Poll", poll_share_path(poll.share_key) %></p>
  <% end %>

<p><%= link_to "Create A New Poll", new_poll_path %></p>